.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(47, 88%, 63%);
}
div.attribution{
    width: 336px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid ;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 12px 8px  hsl(0, 0%, 7%);
    text-align: left;
}
svg{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
}
#ha{
    background-color: hsl(47, 88%, 63%);
    width: 50px;
    height: 36px;
    text-align: center;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 900 */

.figtree-sum {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  
}
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.outfit-lol {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: hsl(0, 0%, 50%);
}
.figtree-sum:hover{
    color: hsl(47, 88%, 63%);;
}
#txt{
    text-decoration: none;
}
#txt:link{
    color: black;
}
#pub{
    color: hsl(0, 0%, 7%);
}
img{
    width: 40px;
    float: left;

}
#grg{
    display: inline;
    float: left;
    color: hsl(0, 0%, 7%);
    margin-left: 10px;
}



